<li class="content">
<div class="row post-details">
  <div class="small-2 columns" style="padding-top: 4px;">
    <span class="like">
      <%= render partial: 'likes/like_status', locals: { item: content } %>
    </span>
  </div><!-- small-2 columns -->
<div class="small-10 columns">
  <p class="detail-title">
    <span class="body">
      <%= content.body %>
    </span>
  </p>
  <p class="attribution">Submitted by <%= link_to content.user.name, content.user %></p>
  <% if defined?(include_link) && include_link %>
    <div class="link">
      <%= link_to content.link.domain, content.link.url, data: { item_klass: 'Link', item_id: content.link.id }, class: 'clickable', target: '_blank' %>
    </div>
  <% end %>
  </div><!-- small-9 columns -->
</div><!-- row post-details -->

  <% if current_user.try(:admin?) %>
    <div class="delete-content">
      <div class="pull-right">
        Admin:
        <%= link_to admin_posts_path(type: 'facebook', content_id: content.id), class: 'no-decoration', method: :post do %>
          <i class="icon-facebook-sign"></i>
        <% end %>
        <%= link_to_if content.valid_for_twitter?, '<i class="icon-twitter-sign"></i>'.html_safe, admin_posts_path(type: 'twitter', content_id: content.id), class: 'no-decoration', method: :post %>
        <%= link_to [content.link, content], method: :delete, class: 'no-decoration', data: { confirm: 'Are you sure you want to delete this content?' } do %>
          <i class="icon-trash"></i>
        <% end %>
      </div>
    </div>
  <% end %>
  <br style="clear: both" />
</li>


