<% link = (defined?(link) && link) || @link %>

<%= form_for [link, @content], html: { class: 'form-horizontal' }, remote: true do |f| %>
  <% if @content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@content.errors.count, "error") %> prohibited this Post submission from being saved:</h2>

      <ul>
      <% @content.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='control-group'>
    <%= f.label :body, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :body, placeholder: 'Post suggestion' %>
    </div>
  </div>

  <div class="controls"> <!-- style=".button[:disabled] { opacity: 1.0 !important;}">-->
    <span class="service">
      <img src="/assets/twitter-logo.png" alt="Twitter logo" width="30em" id="twitter-logo-link-<%= link.id %>">
      <img src="/assets/facebook-logo.png" alt="Facebook logo" width="30em"></span>
    <%= f.submit "Suggest Post", :class => "button btn-suggest-post", :style => "opacity: 1.0"%>
  </div>
<% end %>

<script type="text/javascript">
  $('#new_content input[type=submit]').prop('disabled', true);
  $('#new_content textarea#content_body').keyup(function(event) {
    if ($(this).val() != '') {
      /*
      TODO: when I enter text for one post, it enables 'post' for all posts. I don't think it actually enables it,
      but it styles it that way. Changing disabled style to enabled style so that it won't be apparent to users.
      */

      $('#new_content input[type=submit]').prop('disabled', false);
      if ($(this).val().length > 120) {
        $("#twitter-logo-link-<%= link.id %>").hide();
      } else {
        $("#twitter-logo-link-<%= link.id %>").show();
      }
    } else {
      $('#new_content input[type=submit]').prop('disabled', true);
    }
  });
</script>
