<%= form_for [(defined?(link) && link) || @link, @content], html: { class: 'form-horizontal' }, remote: true do |f| %>
  <% if @content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@content.errors.count, "error") %> prohibited this Post submission from being saved:</h2>

      <ul>
      <% @content.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='control-group'>
    <%= f.label :body, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :body %>
    </div>
  </div>

  <div class="controls">
    <%= f.submit "Suggest Post" %>
  </div>
<% end %>

<script type="text/javascript">
  $('#new_content input[type=submit]').prop('disabled', true);
  $('#new_content textarea#content_body').keyup(function(event) {
    if ($(this).val() != '') {
      $('#new_content input[type=submit]').prop('disabled', false);
    } else {
      $('#new_content input[type=submit]').prop('disabled', true);
    }
  });
</script>
