<%= simple_form_for @user, html: { class: 'regular' } do |f| %>
  <div class='control-group'>
    <div class="controls">
      <%= f.input :name %>
    </div>
  </div>

  <div class='control-group'>
    <div class="controls">
      <%= f.input :email %>
    </div>
  </div>

  <div class='control-group'>
    <div class="controls">
      <%= f.input :google_url %>
    </div>
  </div>

  <div class='control-group'>
    <div class="controls">
      <%= f.input :facebook_url %>
    </div>
  </div>

  <div class='control-group'>
    <div class="controls">
      <%= f.input :twitter_url %>
    </div>
  </div>

  <div class='control-group'>
    <div class="controls">
      <%= f.input :website_url %>
    </div>
  </div>

  <div class='control-group'>
    <div class="controls">
      <%= f.input :public_contact_information, label: 'Let other signed in people see my contact information', label_html: { class: 'checkbox' } %>
    </div>
  </div>

  <div class='form-controls'>
    <%= f.submit %>
  </div>
<% end %>
