<h2>Deleted Post Ideas</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Body</th>
      <th>Submitted By</th>
      <th>Link</th>
      <th>Deleted At</th>
    </tr>
  </thead>
  <tbody>
    <% @contents.each do |content| %>
      <tr>
        <td><%= content.body %></td>
        <td><%= link_to content.user_name, content.user %></td>
        <td><%= link_to content.link_domain, content.link_url %></td>
        <td><%= content.deleted_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @contents %>
