<%= form_for @link, html: { class: 'form-horizontal' } do |f| %>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% @link.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

        <div class='row'>
          <div class="small-12 columns">
            <%= f.label :url %>
              <%= f.text_field :url %>
          </div><!-- small-12 columns -->
        </div><!-- row -->

        <div class='row'>
          <div class="small-12 columns">
            <%= f.label :title, "Title (optional)" %>
              <%= f.text_field :title %>
          </div><!-- small-12 columns -->
        </div><!-- row -->

        <div class='row'>
          <div class="small-12 columns">
          <%= f.label :summary, "Summary (optional)" %>
            <%= f.text_area :summary %>
          </div><!-- small-12 columns -->
        </div><!-- row -->    

        
          <%= f.submit 'Share link with other volunteers', :class => "button" %>
          <div>We'll let you know if someone already shared this.</div>
        
<% end %>
