<%= form_for @link, html: { class: 'form-horizontal' } do |f| %>
  <div class='row'>
    <div class="small-12 large-7 columns">
      <%= f.text_field :url, :placeholder => "URL"%>
      <div class='field_valley'>
        <%= f.label :url, "URL" %>
      </div>
    </div><!-- small-12 columns -->
    <% if @link.errors[:url][0] %>
      <div class="small-12 large-5 columns error-column">
        <span class='inline-error'>
          <%= @link.errors[:url][0] %>
        </span>
      </div>
    <% end %>
  </div><!-- row -->

  <div class='row'>
    <div class="small-12 large-7 columns">
      <%= f.text_field :title, :placeholder => "Title (optional)"%>
      <div class='field_valley'>
        <%= f.label :title, "Title (optional)" %>
      </div>
    </div><!-- small-12 columns -->
    <% if @link.errors[:title][0] %>
      <div class="small-12 large-5 columns error-column">
        <span class='inline-error'>
          <%= @link.errors[:title][0] %>
        </span>
      </div>
    <% end %>
  </div><!-- row -->

  <div class='row form-footer'>
    <div class="small-12 columns">
      <div class='row'>
        <%= f.submit 'Share Link with Other Volunteers', :class => "button share-link" %>
      </div>
      <div class='footnote'>
        We'll let you know if someone already shared this.
      </div>
    </div>
  </div>
<% end %>

