<%= form_for @link, html: { class: 'form-horizontal' } do |f| %>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% @link.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='row'>
    <div class="small-12 columns">
      <%= f.text_field :url, :placeholder => "URL"%>
      <div class='field_valley'>
        <%= f.label :url, "URL" %>
      </div>
    </div><!-- small-12 columns -->
  </div><!-- row -->

  <div class='row'>
    <div class="small-12 columns">
      <%= f.text_field :title, :placeholder => "Title (optional)"%>
      <div class='field_valley'>
        <%= f.label :title, "Title (optional)" %>
      </div>
    </div><!-- small-12 columns -->
  </div><!-- row -->

  <div class='row'>
    <div class="small-12 columns">
      <%= f.text_area :summary, :placeholder => "Summary (optional)"%>
      <div class='field_valley'>
        <%= f.label :summary, "Summary (optional)" %>
      </div>
    </div><!-- small-12 columns -->
  </div><!-- row -->

  <div class='row'>
    <div class="small-12 columns">
      <%= f.submit 'Share link with other volunteers', :class => "button" %>
      <a class="close-reveal-modal" href="#">Cancel</a>
      <div>We'll let you know if someone already shared this.</div>
    </div>
  </div>
<% end %>

