<%= form_for @link, html: { class: 'form-horizontal' } do |f| %>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% @link.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='control-group'>
    <%= f.label :url, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :url %>
    </div>
  </div>

  <div class='control-group'>
    <%= f.label :title, "Title (optional)", class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :title %>
    </div>
  </div>

  <div class='control-group'>
    <%= f.label :summary, "Summary (optional)", class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :summary %>
    </div>
  </div>

  <div class="controls">
    <%= f.submit 'Share link with other volunteers', :class => "button" %>
    <div>We'll let you know if someone already shared this.</div>
  </div>
<% end %>
