<li class="link">
  <div class="pull-left">
    <div class="like">
      <%= render partial: 'likes/like_status', locals: { item: link } %>
    </div>
    <div class="name-and-url">
      <div class="name">
        <%= link_to link.display_name, link %>
      </div>
      <div class="url">
        <%= link_to link.domain, link.url, target: '_blank' %>
      </div>
    </div>
  </div>
  <div class="pull-right">
    <div class="submitter">
      Submitted by <%= link_to link.user.name, link.user %>
    </div>
    <div class="ideas">
      <%= pluralize link.contents.count, 'Post Idea' %>
    </div>
    <% if current_user.try(:admin?) %>
      <div class="delete-link">
        Admin:
        <%= link_to link, method: :delete, class: 'no-decoration', data: { confirm: 'Are you sure you want to delete this link?' } do %>
          <i class="icon-trash"></i>
        <% end %>
      </div>
    <% end %>
  </div>
  <br style="clear: both" />
</li>
