<li class="links-list">
  <div class="row">
    <div class="small-12 large-1 columns like-arrow">
      <%= render partial: 'likes/like_status', locals: { item: link } %>
    </div>
    <div class="small-12 large-8 columns name-and-url">
        <%= link_to link.display_name, link %>
        <%= link_to link.domain, link.url, target: '_blank' %>
    </div><!-- name-and-url -->
    <div class="small-12 large-3 columns submitter-info"
      Submitted by <%= link_to link.user.name, link.user %>
      <%= pluralize link.contents.count, 'Post Idea' %>
      <% if current_user.try(:admin?) %>
        <div class="delete-link">
          Admin:
          <%= link_to link, method: :delete, class: 'no-decoration', data: { confirm: 'Are you sure you want to delete this link?' } do %>
            <i class="icon-trash"></i>
        </div>
        <% end %>
    </div><!-- submitter-info -->
  </div><!-- row -->  
  <% end %>
</li>
