<ul class="links-list">
  <li>
    <div class="row post-details">
      <div class="small-3 columns">
        <%= render partial: 'likes/like_status', locals: { item: link } %>
      </div><!-- small-3 columns -->

      <div class="small-9 columns">
        <p class="detail-title">
          <%= link_to link.display_name, link.url, target: '_blank' %> (opens in new window)
          <!-- TODO Make "opens in..." smaller or less bold or something -->
        </p>

        <p><%= link.summary %></p>
        <%= link_to "Article details", link %>
      </div><!-- small-9 columns -->
    </div><!-- row -->

    <div class="row">
      <div class="small-12 columns edit-post-section">
        <!--<%= pluralize link.contents.count, 'Post Idea' %>-->
  	     <div class='more-info'>
          <a class='more-info-toggle' href='#'>
            <h4 class="more-info-title">
              Post Ideas...<i class='icon-chevron-down'></i>
            </h4>
            <h4 class='opened-message more-info-title'>Hide <i class='icon-chevron-up'></i></h4>
          </a>
          <div class='more-info-content'>
            <% if link.top_contents.size > 0 %>
              <ul class="social-media-ideas mixed-contents">
                <%= render link.top_contents %>
              </ul>
              <%= link_to new_link_content_path(link), class: 'collapse-toggle', data: { target_selector: "#new-content-form-link-#{link.id}" } do %>
                Write a new post <i class='icon-chevron-down'></i>
              <% end %>
              <div id="new-content-form-link-<%= link.id %>" style="display: none">
                <%= render partial: 'contents/form', locals: { link: link, content: Content.new } %>
              </div>
            <% else %>
              <p>This article doesn't have any post suggestions yet. You should probably add one.</p>
            <% end %>
          </div><!-- more-info-content -->
        </div><!-- more-info -->

      	  <% if current_user.try(:admin?) %>
            <div class="delete-link">
              Admin:
              <%= link_to link, method: :delete, class: 'no-decoration', data: { confirm: 'Are you sure you want to delete this link?' } do %>
                <i class="icon-trash"></i>
            </div>
            <% end %>
          <% end %>
      </div><!-- submitter-info -->
    </div>
  </li>
</ul>