<div class="pull-right">
  <% if @link.user == current_user %>
    <%= link_to 'Edit this link', edit_link_path(@link), class: 'btn' %>
  <% end %>
  <% if @link.modifiable_by?(current_user) %>
    <%= link_to link_path(@link), method: 'delete', data: { confirm: 'Are you sure you want to destroy this link? This cannot be undone.' }, class: 'btn btn-danger' do %>
      <i class="icon-trash"></i> Delete
    <% end %>
  <% end %>
</div>

<h2>
  <%= link_to @link.display_name, @link.url %>
</h2>

<p>
  Submitted by <%= link_to @link.user.name, @link.user %>
</p>

<p>
  <%= @link.summary %>
</p>

<p><strong>Help us figure out what posts should go along with this link on Facebook or Twitter:</strong></p>

<%= link_to 'Suggest New Post', new_link_content_path(@link) %>

<div class="link-page">
  <% if @contents.any? %>
  <ul class="mixed-contents">
    <%= render @contents %>
  </ul>
  <% else %>
    <p>There aren't any posts yet. You should probably submit one (or two).</p>
  <% end %>
</div>
