<div class="pull-right">
  <%= link_to 'All Links', links_path, class: 'btn btn-primary' %>
  <% if @link.user == current_user %>
    <%= link_to 'Edit', edit_link_path(@link), class: 'btn' %>
    <%= link_to 'Delete', link_path(@link), method: 'delete', data: { confirm: 'Are you sure you want to destroy this link? This cannot be undone.' }, class: 'btn btn-danger' %>
  <% end %>
</div>

<h2>
  <%= link_to @link.display_name, @link.url %>
</h2>

<p>
  Submitted by <%= link_to @link.user.name, @link.user %>
</p>

<p>
  <%= @link.summary %>
</p>

<h3>
  Tweet Submissions
  <%= link_to 'Submit New Tweet', new_link_twitter_content_path(@link), class: 'btn pull-right' %>
</h3>

<% if @twitter_contents.any? %>
<ul>
  <% @twitter_contents.each do |twitter_content| %>
    <li><%= twitter_content.body %></li>
  <% end %>
</ul>
<% else %>
  <p>There aren't any yet. You should probably submit one (or two).</p>
<% end %>

<h3>
  Facebook Submissions
  <%= link_to 'Submit New Post', '#', class: 'btn pull-right' %>
</h3>

<% if @facebook_contents.any? %>
<ul>
  <% @facebook_contents.each do |facebook_content| %>
    <li><%= facebook_content.body %></li>
  <% end %>
</ul>
<% else %>
  <p>There aren't any yet. You should probably submit one (or two).</p>
<% end %>
