<div class="pull-right">
  <%= link_to 'All Links', links_path, class: 'btn btn-primary' %>
  <% if @link.user == current_user %>
    <%= link_to 'Edit', edit_link_path(@link), class: 'btn' %>
  <% end %>
  <% if @link.user == current_user or current_user.try(:admin?) %>
    <%= link_to link_path(@link), method: 'delete', data: { confirm: 'Are you sure you want to destroy this link? This cannot be undone.' }, class: 'btn btn-danger' do %>
      <i class="icon-trash"></i> Delete
    <% end %>
  <% end %>
</div>

<h2>
  <%= link_to @link.display_name, @link.url %>
</h2>

<p>
  Submitted by <%= link_to @link.user.name, @link.user %>
</p>

<p>
  <%= @link.summary %>
</p>

<p><strong>Help us figure out what post should go along with this link on Facebook or Twitter:</strong></p>

<%= link_to 'Submit New Tweet', new_link_twitter_content_path(@link) %>
or
<%= link_to 'Submit New Facebook Post', new_link_facebook_content_path(@link) %>

<div class="link-page">
  <% if @posts.any? %>
  <ul class="mixed-contents">
    <%= render partial: 'base_contents/content', collection: @posts, as: :content %>
  </ul>
  <% else %>
    <p>There aren't any posts yet. You should probably submit one (or two).</p>
  <% end %>
</div>
