<%= form_for [:admin, @notice], html: { class: 'form-horizontal' } do |f| %>
  <% if @notice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notice.errors.count, "error") %> prohibited this notice from being saved:</h2>

      <ul>
      <% @notice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :active, class: 'control-label checkbox' %>
    <%= f.check_box :active %>
  </p>

  <p>
    <%= f.label :body, class: 'control-label' %>
    <%= f.text_area :body %>
  </p>

  <div class="controls">
    <%= f.submit  %>
  </div>
<% end %>
