<nav class="small-12 large-5 columns">
	<ul>
		<%= nav_item 'Suggest Article', "/assets/axe_white.svg", "/links/new", {:class => 'button'} %>
		<%= nav_item 'Browse & Vote', "/assets/book_white.svg", links_path %>
		<%= nav_item 'Learn More', "/assets/bulb_white.svg", help_path  %>
		<% if current_user.try(:admin?) %>
    <li><h6>Admin:</h6></li>
				<%= nav_item 'Top Ideas', nil, admin_contents_path %>
				<%= nav_item 'Previous Posts', nil, admin_posts_path %>
				<%= nav_item 'Notices', nil, admin_notices_path %>
			<% end %>
	</ul>
</nav>
