<nav class="small-12 large-6 columns main-nav">
	<ul>
		<% if !current_page?(root_url) %>
			<%= nav_item 'Suggest Article', "/assets/axe_white.svg", '/links#suggest' %>
			<%= nav_item 'Write', "/assets/book_white.svg", '/links#articles' %>
			<%= nav_item 'Vote', "/assets/bulb_white.svg", contents_path  %>
		<% else %>
		<li>
			<h4 class="welcome-message">Hey <%= link_to raw("#{current_user.name}"), current_user %>. What do you feel like doing?!</h4>
		<li>
		<% end %>
	</ul>
</nav>

<% if current_user.try(:admin?) %>
<nav class="small-12 large-6 columns">
	<ul>
	  <li>
	  	<h6>Admin:</h6>
	  </li>
			<%= nav_item 'Previous Posts', nil, admin_posts_path %>
			<%= nav_item 'Notices', nil, admin_notices_path %>
	</ul>
</nav>
<% end %>