<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
 	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    <%= content_for?(:title) ? yield(:title) : "dash.Rootstrikers" %>
  </title>

  <!--<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300' rel='stylesheet' type='text/css'> -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <!--[if lt IE 9]>
      <%= javascript_include_tag "html5-3.6-respond-1.1.0.min" %>
  <![endif]-->
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript">
    $(document).ajaxSend(function(e, xhr, options) {
      var token = $("meta[name='csrf-token']").attr("content");
      xhr.setRequestHeader("X-CSRF-Token", token);
    });
  </script>
</head>
<body>
  <div id="wrap">
    <div id="main" class="clearfix">
      <%= render 'layouts/header' %>
      <div class="row full-width">
        <section id='body-content' class="small-12 large-12 columns layout-col">
          <%= render 'layouts/notice' if @site_wide_notice %>
          <%= render 'layouts/messages' %>
          <div class="row">
            <div class="small-12 large-8 large-offset-2 columns">
              <%= yield %>
            </div>
          </div> <!-- row -->
        </section>

      </div><!-- row -->
    </div><!-- main clearfix -->
  </div><!-- wrap -->
  <%= render '/links/suggestion_modal' %>
  <%= render 'layouts/footer'%>

  <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>